@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    margin-left: 30px;
	overflow: hidden;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.text h1{
    font-size: 40px;
    color: aqua;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
h2{
    font-size: 50px;
    color: aqua;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
h2 span{
    font-size: 50px;
    color: coral;  
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    margin: 0;
}
.calc{
	background-color: #000000;
	width: 350px;
	height: 540px;
	margin: auto;
	margin-top: 40px;
	border-radius: 20px;
	padding: 10px;
}
#screen{
	background-color: #000000;
	width: 330px;
	height: 100px;
	border-radius: 20px;
	margin: 0 auto;
	padding-top: 20px;	
	font-size: 50px;
	color: #ffffff;
}
table{
	background-color: #1a1a1a;
	margin: 0 auto;
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 20px;
}
td{
	width: 100px;
	height: 60px;
	text-align: center;
	font-size: 30px;
	color: #ffffff;
	cursor:pointer;
}
.orange td{
	background-color: #ff7300;
	color:white
}
td:active{
	background-color: #00000000;
	border-radius: 20px;
}